{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ item_type }} near the place{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<link rel="stylesheet" href="{% static "css/story_near_by.css" %}">
{% endblock %}
{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false&libraries=drawing"></script>
<script type="text/javascript" src="{% static "javascript/story_near_by.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/mapping.js" %}"></script>

{% endblock %}

{% block content %}
<div id="content_story_near_by">

    <div id="here">
        {% trans "Here you can find  the closest stories to  you"%} <span> {% trans "or any place "%}</span>
    </div>
    <div id="hide_scroll">
        <div id="story_container">     
        </div>
    </div>
   
    <div id='google_api'>       
        <div id="panel">
            {% csrf_token %}
           
            <input id="address" type="text" value='' placeholder=' {% trans "Enter place" %}' autocomplete='off'>
            <input type="button" id="findAddres" value=' {% trans "Search stories" %}'>
        </div>
        <div id="map_canvas">
        </div>
    </div>
</div> 

{% endblock %}